/* line 5, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/users.scss */
.panel.panel-primary {
  border-color: #7C2213;
}

/* line 9, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/users.scss */
.panel-heading {
  background-color: #7C2213 !important;
  border-color: #7C2213 !important;
}

/* line 14, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/users.scss */
.panel-body {
  color: black !important;
}
/*********** NAVBAR ***********/
/* navbar */
/* line 9, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
.navbar.navbar-custom.navbar-fixed-top {
  background-color: #7C2213;
  border: none;
}

/* navbar links */
/* line 15, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
.navbar a {
  color: white;
}

/* navbar links upon hover */
/* line 20, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
.navbar a:hover {
  color: black;
  background-color: white !important;
}

/* navbar dropdown-menu link upon click */
/* line 26, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
.dropdown-toggle:active, .open .dropdown-toggle {
  color: black !important;
}

/* drop-down menu links */
/* line 31, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
#nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu {
  color: white;
  background-color: #7C2213;
}

/* drop-down menu links upon hover */
/* line 37, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
#nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu {
  color: black;
}

/* hamburger icon */
/* line 42, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
.icon-bar {
  background-color: white;
}

/* active links */
/* line 47, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
.active.link {
  background-color: #303030 !important;
}

/*********** PAGE BODY ***********/
/* line 54, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
html body {
  background-color: black;
  color: white;
}

/* main page header */
/* line 60, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
html #content {
  display: block;
  border: 2px solid #999;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
}

/* carousel images */
/* line 71, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
.carousel-inner img {
  max-width: 80%;
  max-height: 80%;
  margin-left: auto;
  margin-right: auto;
  width: auto\9;
}

/*********** CHAT BOX ***********/
/* line 82, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
form, p, span {
  margin: 0;
  padding: 0;
}

/* line 86, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
#menu {
  padding: 12.5px 25px 12.5px 25px;
}

/* line 90, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
#wrapper {
  margin: 0 auto;
  padding-bottom: 25px;
  background: #7C2213;
  max-width: 80%;
  border: 1px solid #7C2213;
}

/* line 98, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
#chatbox {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  background: #fff;
  height: 270px;
  max-width: 80%;
  border: 1px solid #7C2213;
  overflow: auto;
}

/* chat name */
/* line 111, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
.welcome {
  float: left;
}

/* exit link */
/* line 116, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
.logout {
  float: right;
}

/* textbox + send button */
/* line 121, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
#txtbox {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

/* user message */
/* line 128, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
#usermsg {
  max-width: 80%;
  border: 1px solid #7C2213;
  color: black;
}

/* send button */
/* line 135, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
#submitmsg {
  color: black;
}

/*********** CARD LIST ***********/
/* line 141, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
.card_size {
  width: 100%;
  height: 300px;
  border: 5px #7C2213;
  /*box-shadow: 1px 1px 4px #888;*/
  border-top: 5px #7C2213;
  margin-bottom: 100px;
  float: left;
}

/* line 151, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
.card_size img {
  height: 100%;
  width: 100%;
  display: block;
  margin-left: auto;
}

/* line 158, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
.description {
  color: white;
  float: left;
  width: 100%;
}

/************phaser canvas centering************/
/* line 165, /home/kevin/Desktop/exploding-kittens/app/assets/stylesheets/welcome.scss */
canvas {
  display: block;
  margin: auto;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

