<!DOCTYPE html>
<html lang="en">
<head>
  <title>Exploding Kittens</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <%= render 'nav/navbar' %>

  <div class="container-fluid">
  <h1>Players:</h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </table>
  </div>

</body>
</html>
