<!DOCTYPE html>
<html lang="en">
<head>
  <title>Exploding Kittens</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <%= render 'nav/navbar' %>

  <div id="users"><%= render 'users' %></div>

</body>
</html>
