<!DOCTYPE html>
<html lang="en">
<head>
	<title>Exploding Kittens</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <%= render 'nav/navbar' %>

<div class="container-fluid">
	<h1>Developers</h1>
	<br />

	<p>Evgeny Stukalov</p>
	<p>Kevin Fang</p>
	<p>Lee Thomas</p>
	<p>Luis Estrada</p>
	<p>Maximilian Fischer</p>
	
</div>

</body>
</html>
