<!doctype html>
<html lang="en">
<head>
<title>Exploding Kittens</title>

<script type="text/javascript">
 
$( init );

function init() {
  $('.draggable-card').draggable( {
    cursor: 'move',
    snap: '#droppable',
    containment: '#content',
    stack: '.draggable-card'
  });

  $('#discard').droppable( {
  	accept: '.draggable-card',
    hoverClass: 'hovered',
    drop: handleDropEvent
  });

  $('.draggable-card').click( function() { alert('clicked'); });

}

function handleDropEvent( event, ui ) {
  var draggable = ui.draggable;
  alert( 'Card "' + draggable.attr('id') + '" was discarded!' );
}

function handleClick( event, ui ) {
  var draggable = ui.draggable;
  draggable.fadeOut(300);
}

</script>
 
</head>

<body>

<% cards =
  ['attack-1','attack-2','cat-1','cat-2','defuse-1','exploding-kitten-1','exploding-kitten-2','exploding-kitten-3','favor-1','future-1','future-2','nope-1','nope-2','shuffle-1','skip-1'] %>

<div id="content" style="height: 630px;">

  <!-- deck and discard pile -->
  <div id="deck" class="card"><%=image_tag("deck.png")%></div>
  <div id="discard" class="card">Discard</div>

  <!-- cards in hand -->
  <% for i in 0..20 %>
    <% card = cards.sample %>
    <%= image_tag(card, :class => "card draggable-card", :id => card) %>
  <% end %>

<div id="reset">
	<button onclick="init()">Reset</button>
</div>
 
</body>
</html>