<!doctype html>
<html lang="en">
<head>
<title>Exploding Kittens</title>

<script type="text/javascript">

var cards =
  ['attack-1','attack-2','cat-1','cat-2','defuse-1','exploding-kitten-1','exploding-kitten-2','exploding-kitten-3','favor-1','future-1','future-2','nope-1','nope-2','shuffle-1', 'shuffle-2', 'skip-1'];

$(document).ready(function() {
  // cards can be drawn from deck
  $('#deck').click( function() {
    spawn_card();
  });

  // discard pile is droppable
  $('#discard').droppable( {
    accept: '.draggable-card',
    hoverClass: 'hovered',
    drop: handleDropEvent
  });

  $('.draggable-card').draggable( {
    cursor: 'move',
    snap: '#discard',
    containment: '#game-window',
    stack: '.draggable-card'
  });

  $('#game-window').on('click', '.draggable-card', function() {
       $(this).animate({
      height: ($(this).height() == 400) ? 200 : 400,
      width: ($(this).width() == 240) ? 120 : 240
    }, 200);
  });
});

function handleDropEvent( event, ui ) {
  var draggable = ui.draggable;
  alert( 'Card "' + draggable.attr('id') + '" was discarded!' );
  draggable.remove();
}

function spawn_card() { 
  var img = document.createElement("img");
  var card = cards[Math.floor(Math.random()*cards.length)];
  img.src = "assets/" + card;
  img.setAttribute("class", "card draggable-card");
  img.setAttribute("id", card);
  document.getElementById('hand').appendChild(img);

  resizeHand();
  //document.body.appendChild(img);
}

function resizeHand() {
  var max_num_of_cards = $('.draggable-card').length;
  if (max_num_of_cards > 6) {
    //document.getElementById('hand').innerHTML = "<br>";
    //$('#hand').append('<br>');

  }
  
}

</script>
 
</head>

<body>

<div id="game-window" style="height: 650px; min-width: 960px; margin: 0 auto">

  <% cards =
  ['attack-1','attack-2','cat-1','cat-2','defuse-1','exploding-kitten-1','exploding-kitten-2','exploding-kitten-3','favor-1','future-1','future-2','nope-1','nope-2','shuffle-1', 'shuffle-2', 'skip-1'] %>

  <div id="deck-discard">
    <div id="deck" class="card"><%=image_tag("deck.png")%></div>
    <div id="discard" class="card">Discard</div>
  </div>

  <div id="hand" class="cards">
    <% for i in 0...5 %>
      <% card = cards[i] %>
        <%= image_tag(card, :class => "card draggable-card", :id => card) %>
    <% end %>
  </div>

</div>

<br>

</body>
</html>