<h2>Welcome to Exploding Kittens</h2>
<p>
  The time is now: <%= Time.now %>
</p>

  <%= link_to 'List of games', games_path %><br/>
  <%= link_to 'Create a new game', new_game_path %><br/>
  <%= link_to 'List of players', users_path %><br/>
