<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>Exploding Kittens</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  	<%= render 'nav/navbar' %>

<div class="container-fluid">
	<div class="bg-image">
		<%=image_tag("explosion.png")%>
	</div>
	<div align="center" style="width: 100%;">
		<h1>Instructions</h1>
		<table class="table instructions-table">
			<tr><td>
				<h1>Playing The Game</h1>
					<p> 
						To begin, you’ll have a deck of cards containing some
						Exploding Kittens. You play the game by putting the
						deck face down and taking turns drawing cards off
						the top until someone draws an Exploding Kitten.
					</p>
			</td></tr>
			<tr><td>
				<h1>Setting Up The Game</h1>
				<p>
					Remove all the Exploding Kittens(4) and Defuse cards (6) from the deck.		
				</p>
			</td></tr> 
			<tr><td>
				<h1>Taking Your Turn</h1>
				<p>
					Play a card from your hand by placing it FACE
					UP on top of the Discard Pile, and following
					the instructions on the card. Or play no cards
					at all; that’s cool too.
				</p>
			</td></tr>
			<tr><td>
				<p>asdsadasdsd</p>
			</td></tr>
			<tr><td>
				<p>Jackson</p>
			</td></tr> 
			<tr><td>
				<p>94</p>
			</td></tr>
		</table>
	</div>
</div>
</body>
</html>
