<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>Exploding Kittens</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  	<%= render 'nav/navbar' %>

    <div class="container-fluid">
    	<h1>Instructions</h1>
    	<%=image_tag("instructions.jpeg")%>
    </div>

  </body>
</html>
