<h1>Games:</h1>
<table>
  <tr>
    <th>ID</th>
    <th></th>
    <th colspan="3"></th>
  </tr>

  <% @games.each do |game| %>
    <tr>
      <td><%= game.id %></td>
      <td><%= link_to 'Show', game_path(game) %></td>
    </tr>
  <% end %>
</table>
