<!DOCTYPE html>
<head>
  <title>Pusher Test</title>
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  <script>
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('78511c9f413a61ee66ee', {
      encrypted: true
    });

    var channel = pusher.subscribe('public-chat');
    channel.bind('message-sent', function(data) {
      alert(data.message);
    });
  </script>
</head>
<body>
	<div id = "chat-wrapper">
	<div id = "messages">
		<div class = "message">
			<span class="timestamp">Timestamp</span>
			<span class="name">Name</span>
		</div>
	</div>
	<div id = "user_input">
		<input type="text" id="chatbox" class="form-control">
		<button id="send" class="btn btn-primary">Send</button>
	</div>
	</div>
</body>
