<div id = "chat-wrapper">
	<div id = "messages">
		<div class = "message">
			<span class="timestamp">Timestamp</span>
			<span class="name">Name</span>
		</div>
	</div>
	<div id = "user_input">
		<input type="text" id="chatbox" class="form-control">
		<button id="send" class="btn btn-primary">Send</button>
	</div>
</div>