/***** GAME WINDOW *****/

/* main page header */
#game-window {
  display: block;
  border: 2px solid #999;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
}

/* every card */
.card img, .card {
  height: 200px;
  width: 120px;
}

/* each card in hand */
.draggable-card {
  
}
/* hand as a whole */
#hand {
  position: absolute;
  top: 300px;
}



/* deck + discard pile */
#deck-discard {
  float: right;
  left: 42%;
  position: absolute;
}
#deck {
  float: right;
}
#discard {
  float: right;
  border: 1px solid white;
}
#discard.hovered {
  background: #aaa;
}

/***** CHAT BOX *****/

/* top of chat */
div#menu { padding: 10px 10px }

/* chat name */  
.welcome { float:left }

/* exit link */
.logout { float:right }

/* entire chatbox */
#chat-wrapper {
background:#7C2213;
border: 2px solid #7C2213;
}

/* inner chat area */
#chat {
text-align: left;
background: black;
color: white;
height: 250px;
border: 1px solid #7C2213;
overflow-y: scroll;
white-space: normal;
word-wrap: break-word;
}

/* chatbox usernames */
span#person { color: grey }

/* user input + button */
#txtbox {
color: black;
}
